#photo-container {
  display: flex;
  flex-flow: row wrap;
}

div {
  margin: 1% 2% 1% 2%;
  height: 355px;
  text-align: center;
  border: 5px solid grey;
  border-radius: 20%;
  background-color: grey;
  box-shadow: 1px 1px black;
}

img {
  margin-top: 5%;
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 90%;
}
p {
  background-color: grey;
  border-radius: 90%;
}
h3 {
  background-color: grey;
}