#photo-container {
  display: flex;
  flex-flow: row wrap;
}

div {
  margin: 1% 2% 1% 2%;
  height: 325px;
  text-align: center;
  border: 5px solid black;
  border-radius: 10%;
}

img {
  margin-top: 5%;
  height: 200px;
  width: 200px;
}